
@import url('https://fonts.googleapis.com/css?family=Quantico');
@import url('https://fonts.googleapis.com/css?family=Baumans');

body {
  background-image: radial-gradient(circle, #747474, #646464, #545454, #454545, #363636);
  font-family: 'Quantico', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 3vw;
  color: white;
}

.titre-accueil {
  font-size : 2.5vw;
}

h2 {
  font-size:4vh;
  color: #0ba2a3;
}


.logo {
  height:10vh;
  vertical-align: center;
}

header {
  line-height: 13vh;
  vertical-align: center;
  width:100%;
}

.btn-style {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: steelblue;
  color: black;
  font-size:20px;
  text-transform: uppercase;
}
.btn-style:hover {
  color:white;
}

.message_flash {
  color: white;
  font-size: 2em;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 60px; /* Vertically center the text there */

}
